#canvas1 {
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.controls{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}